body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: rgba(0, 11, 63, 0.1);
  color: #303749;
}
body img {
  width: 100%;
}
body ul {
  padding: 0;
}
body ol {
  padding: 0;
}

.mb-section {
  margin-bottom: 65px;
}

.header__color {
  color: #F34B00;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1276px;
}

.h2 {
  font-size: 28px;
}

.invisible__object {
  outline: none;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.main {
  padding: 90px 30px;
  border-radius: 20px;
  background: #fff url(../img/main/main-bg.jpg) center no-repeat;
}
.main__title {
  margin-bottom: 36px;
  font-size: 48px;
  color: #F34B00;
  font-weight: 500;
}
.main__subtitle {
  max-width: 588px;
  font-family: "Oswald", sans-serif;
  color: #303749;
  font-size: 16px;
  font-weight: 500;
}
.main__logo {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 190px;
}
.main__form {
  position: sticky;
  max-width: 300px;
  top: 20px;
  padding: 25px 35px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
}
.main__form-title {
  margin-bottom: 15px;
  font-size: 20px;
}
.main__form input, .main__form button, .main__form a {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.main__form input:hover, .main__form button:hover, .main__form a:hover {
  transform: scale(1.05);
}
.main__form-btn {
  background-color: #303749;
  color: #ffffff;
}
.main__form-link {
  display: inline-block;
  text-align: center;
  background-color: #F34B00;
  text-decoration: none;
  color: #ffffff;
}
.main__form-link:hover {
  color: #ffffff;
}
.main__form-info {
  margin-bottom: 25px;
  display: block;
  line-height: 120%;
  font-size: 12px;
  font-weight: 500;
}
.main__form-qr img {
  display: block;
  max-width: 160px;
  margin: 0 auto;
}

.submenu ul {
  list-style: none;
  css-reset: css-counter 0;
}
.submenu li {
  padding: 25px 35px;
  background-color: #EEEFF3;
  border-radius: 20px;
  counter-increment: css-counter 1;
}
.submenu li::before {
  content: "/0" counter(css-counter);
  margin-right: 20px;
  font-weight: 700;
}

.about {
  padding: 95px 0;
  background: #EEEFF3 url(../img/about/about.jpg) center no-repeat;
  border-top: 2px solid rgba(242, 169, 0, 0.75);
  border-bottom: 2px solid rgba(242, 169, 0, 0.75);
}
.about__title {
  margin-bottom: 45px;
  font-size: 48px;
}

.notbg__body {
  padding: 40px;
  background-color: #EEEFF3;
  border-radius: 20px;
}
.notbg__title {
  margin-bottom: 30px;
}
.notbg__subtitle {
  font-size: 18px;
  font-weight: 500;
}
.notbg img {
  margin-bottom: 30px;
  border-radius: 20px;
}
.notbg ul {
  margin: 20px 0;
  padding-left: 40px;
}

.whitebg__body {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  width: 100wv;
  background-color: #ffffff;
  z-index: 1;
}
.whitebg__body::before {
  position: absolute;
  top: 0;
  margin-left: calc(20px - 100vw);
  padding: 40px;
  content: "";
  display: block;
  height: 100%;
  width: 100vw;
  border-radius: 20px;
  background-color: #fff;
  z-index: -1;
}

.team__title {
  margin-bottom: 42px;
}
.team__card {
  margin-bottom: 45px;
  border-bottom: 2px solid #ffffff;
}
.team__img img {
  margin-bottom: 24px;
  border-radius: 20px;
  width: 300px;
  height: 280px;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
}
.team__img img::hover {
  filter: grayscale(0);
}
.team__name {
  margin-bottom: 10px;
  font-size: 16px;
}
.team__position {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */