.docs
    padding-top: 60px
    padding-bottom: 120px
    background: url(../img/docs/docs_bg.jpg) center no-repeat
    &__btn 
        margin-bottom: 30px
        display: flex
        justify-content: center
        align-items: center
        height: 97px
        width: 257px
        font-size: 28px
        font-weight: 700
        text-align: center
        background-color: $bg__sup
        border-radius: 20px
        border: 2px solid $white
    .invis_el
        border-color: transparent
        background-color: transparent