.main
    padding: 90px 30px
    border-radius: 20px
    background: #fff url(../img/main/main-bg.jpg) center no-repeat
    &__title
        margin-bottom: 36px
        font-size: 48px
        color: $nko__color
        font-weight: 500
    &__subtitle
        max-width: 588px
        font-family: "Oswald", sans-serif
        color: $font__color
        font-size: 16px
        font-weight: 500
    &__logo
        margin: 0 auto 
        margin-bottom: 30px
        max-width: 190px
    &__form
        position: sticky
        max-width: 300px
        top: 20px
        padding: 25px 35px
        border: 2px solid $white
        border-radius: 20px
        background-color: rgba(#fff, 15%)
        z-index: 1
        &-title 
            margin-bottom: 15px
            font-size: 20px
        input, button, a 
            margin-bottom: 15px
            width: 100%
            padding: 10px
            border-radius: 10px
            border: none
            font-size: 14px
            transition: all .2s ease-in-out
            &:hover 
                transform: scale(1.05)
        &-btn
            background-color: $font__color
            color: $white
        &-link 
            display: inline-block
            text-align: center
            background-color: $nko__color
            text-decoration: none
            color: $white
            &:hover 
                color: $white
        &-info 
            margin-bottom: 25px
            display: block
            line-height: 120%
            font-size: 12px
            font-weight: 500
        &-qr 
            img 
                display: block
                max-width: 160px
                margin: 0 auto
