.team
    &__title
        margin-bottom: 42px
    &__card 
        margin-bottom: 45px
        border-bottom: 2px solid $white
        margin: 0 auto
        max-width: 300px
        margin-bottom: 30px
    &__img 
        img 
            margin-bottom: 24px
            border-radius: 20px
            max-width: 300px
            height: 280px
            object-fit: cover
            object-position: center
            transition: all 0.2s ease-in-out
    &__name 
        margin-bottom: 10px
        font-size: 16px
    &__position
        margin-bottom: 10px
        padding-bottom: 10px
        font-size: 12px